.naranjapuro{
background-color: orange;
}
.gitBg{
    background-image: url("/recursos/git.png");
}

header{
    background-color: #E85D04;
    }
    
    .bg-color{
    background-color: aliceblue;
    }